// example page demos
.demo input[type="tel"] {
  width: 250px;
}
// override bootstrap default placeholder color which is too high contrast for our design
input::placeholder,
.demo input::placeholder,
input.form-control::placeholder,
textarea.form-control::placeholder {
  color: #bbb;

  @media (prefers-color-scheme: dark) {
    color: #5a5a5a;
  }
}
// match bootstrap input border radius
.iti__selected-country-primary {
  border-top-left-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* plugin overrides */
    --iti-border-color: #5b5b5b;
    --iti-dropdown-bg: var(--bs-dark);
    --iti-icon-color: var(--bs-body-color);
    --iti-hover-color: #30363d;
  }
}
.iti__dropdown-content,
.iti__search-input {
  border-radius: var(--bs-border-radius);
}