:root {
  --iti-spacer-horizontal: 12px;
  --iti-globe-icon-size: 22px;
  --iti-clear-icon-size: 16px;
  --iti-arrow-size: 6px;
  --iti-arrow-padding: 9px;
  --iti-path-flags-1x: url("<%= cacheBust('/img/largeFlags.webp') %>");
  --iti-path-flags-2x: url("<%= cacheBust('/img/largeFlags@2x.webp') %>");
}
.iti {
  font-size: 20px;
}
.iti,
.section.demo input {
  width: 350px !important;
}
.section.demo input,
.iti__search-input {
  font-size: inherit !important; // bootstrap override
}
.iti--inline-dropdown .iti__country-list {
  max-height: 210px;
}